.numberlist {
    list-style: none;
    padding: 0;
    padding-bottom: 32px;
    padding: 0 25px;
    margin-top: 0;
}

.numberItem {
    font-size: 18px;
    line-height: 21px;
    color: var(--grey);
    margin-top: 12px;
}

.numberItem:first-child {
    margin-top: 0;
}


@media(max-width:1024px) {

    .numberlist{
        padding: 0 10px;  
    }

    .numberItem {
        font-size: 14px;
        margin-top: 8px;
        line-height: 16px;
    }
}